/* tất cả thành phần đều bị */
*{
    margin: 0px ;
    box-sizing: border-box;
    padding: 0;
}

/* phần có chữ bị thôi  */
html {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

/*common*/
.clear{
    clear: both;
    
}

.text-white{
    color: #fff !important;
}

.mt-8{
    margin-top: 8px !important;
}

.mt-16{
    margin-top: 16px !important;
}
.row{
    margin-left: -8px;
    margin-right: -8px;
}

.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-half{
    width: 50%;

}

.col-full{
    width: 100%;

}

.col-third{
    width: 33.33333%;
}

.text-center{
    text-align: center !important;
}

/*main*/
#main {

}

#header {
    height: 46px;
    background-color: rgb(0,0,0);
    padding: 0 0px;
    position: fixed;
    top: 0;
    left:0;
    right:0;
    z-index: 1;
    /* giúp hiện header lên */
    font-family: "Lato", sans-serif !important ;
    font-size: 15px;
    line-height: 1.5;
    /* overflow: hidden; */
}

#nav {
    display: inline-block;
}

#nav .subnav{
    list-style-type: none; 
    /* bỏ dấu chẩm ở dạng list */
}

#nav > li {
    display: inline-block;
}

#nav li {
    position: relative;

}

/* có thể viết gộp hov của nav và subnav cho tiện ngăn cách bởi , */
/* ,
#nav .subnav li:hover a { */
    #nav > li:hover > a {
    color: rgb(0, 0, 0);
    background-color: rgb(230, 230, 230);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

#nav li:hover .subnav {
    display: block;
}

#nav > li > a {
    color: #fff;
    text-transform: uppercase;
}

#nav li a {
    line-height: 46px;
    text-decoration: none;
    padding: 0px 24px;
    display: inline-block; /* hiển thị block trên cùng 1 dòng  */
    box-sizing: border-box;
    cursor: pointer;

}

#nav .subnav a {
    color:rgb(0, 0, 0);
    padding: 0 12px;
    line-height: 38px;
}

#header .mobile-menu-btn{
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

#header .mobile-menu-btn,
#header .search-button {
    float: right !important;
    padding: 0px 24px;
}

#header .menu-icon,
#header .search-icon {
    color: #fff;
    font-size: 20px;
    line-height: 46px;
    cursor: pointer;
}

#header .search-button:hover {
    background-color: #f44336;
}

#header .mobile-menu-btn:hover {
    background-color: #ccc;
}

#header .mobile-menu-btn:hover .menu-icon{
    background-color: #ccc;
    color:#000;
}

#nav .subnav {
    display: none;  
    min-width: 160px;
    top: 100%;
    left: 0;
    position : absolute;
    background-color:rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
   
} 

/* hover cho mỗi subnav */
#nav .subnav li:hover a {     
    color: rgb(0, 0, 0);
    background-color: rgb(230, 230, 230);
    width: 100%;
}

#slidebar {
    margin-top: 46px;
    padding-top: 50%; 
    /* chiều cao bằng 50% chiều rộng */
    background: url('/W3_TheBand/asset/img/slider/slider1.jpg') top center / cover no-repeat ;
    color: #fff;
    position: relative;
    
}

#slidebar .text-content {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    color:rgb(255, 255, 255);
    bottom: 47px;
}

#slidebar .text-heading{
    line-height: 20px;
    font-weight: 500;
    font-size: 24;
}

#slidebar .text-description{
    padding-top: 25px;
    font-size: 16;
}

#slidebar .text-heading,
#slidebar .text-description{
    text-shadow: 0 0 1px #000;
}

#content {
    
}

#content .content-section {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 72px 0 108px;
    padding-left: 16px ;
    padding-right: 16px;
    max-width: 100%;

}

#content .section-heading{
    font-size: 30px;
    text-align: center;
    letter-spacing: 4px;
    font-weight: 400;
}

#content .section-sub-heading{
    font-size: 15px;
    text-align: center;
    font-style: italic;
    opacity: 0.6;
    margin: 15px 0;
}

#content .about-text{
    margin-top: 25px;
    font-size: 15px;
    text-align: justify;
    line-height: 1.4;
}

#content .member-list{
    /* overflow: hidden; */
    /* thường dùng thẻ clear để thay thế */
}

#content .member-item{
    margin-top: 46px;
}

#content .member-name{
    font-size: 15px;
    margin:15px 0;
}

#content .image{
    border-radius: 4px;
    width: 154px;
    /* margin-top: 15px; */
}



.tour-section{
    background-color:  #000000;
    width: 100%;
}

.ticket-list {
    list-style-type: none;
    color: #fff;
    margin-top: 40px;
}

.ticket-list li{
    /* line-height: 1.6; */
    background-color: #fff;
    color: rgb(75, 75, 75);
    border-bottom: 1px solid #ddd;
    font-size: 15px;
    padding: 11px 16px;
}

.ticket-list .sold-out{
    margin-left: 16px;
    background-color:#f44336;
    color: #fff;
    padding: 4px 4px;;
}

.ticket-list .quantity{
    float: right;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    width: 24px;
    height:24px;
    text-align: center;
    line-height: 24px;
}


.places-list{
    margin-top: 16px;

}

.places-items{
    width: 33.33333%;
    color:#000;
    display: block;
    
}

.places-list .places-img{
    width: 100%;
    display: block;

}

.places-list .places-img:hover{
    opacity: 0.6;
}

.place-body{
    background-color: #fff;
    font-size: 15px;
    line-height: 1.4;
    text-align: left;
    font-family: "Lato", sans-serif;
}


.places-list .places-name{
    padding: 10px 10px;
    margin-left: 8px;
    font-weight: 540;
}

.places-list .places-date{
    padding: 10px 10px;
    opacity: 0.6;
    margin-left: 8px;
}

.places-list .places-description{
    padding: 10px 10px;
    text-align: left;
    margin-left: 8px;
}

.places-btn{
    padding: 10px 16px;
    background-color: #000;
    color: #fff;
    margin: 10px;
    text-decoration: none;
    margin-left: 18px;
    display: inline-block;
    border: none;
    cursor: pointer;
    text-align: center;
}

.places-btn:hover {
    background-color: #ccc;
    color: #000;
}

/*contact*/
.contact-content{
    color:#000;
    margin-top: 48px;
    line-height: 1.6;
}

.contact-direct{
    line-height: 1.8;
    font-size: 18px;
}

.contact-direct i {
    width: 30px;
    display: inline-block;
}

.contact-direct a{
    color:#25252e;
    opacity: 0.8;
}

.contact-direct a:hover{
    opacity: 1;
}

.contact-form{
    font-size: 15px;
}

.contact-form .form-control{
    width:100%;
    padding:10px;
    border: 1px solid #ccc;
}

.form-submit{
    background-color: #000;
    color: #fff;
    float: right;
    padding: 10px 16px;
    border: none;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
}

.form-submit:hover{
    background-color: #ccc;
    color: #000;
}

.map{
    width:100%;
}

/*footer*/
#footer {
    text-align: center;
    padding: 64px 16px;
    text-decoration: none;
}

#footer .social-list a{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}

#footer a:hover{
    color: rgba(0, 0, 0, 0.4);    
}

.source{
    padding: 24px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 15px;
}

.source a{
    color: rgba(0, 0, 0, 0.6);
}

/*modal*/
.modal {
    position: fixed;
    left: 0;
    right:0;
    bottom:0;
    top:0;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center ;
    justify-content: center;
    font-size: 15px;
    display: none;
}

.modal.open {
    display: flex;
}

.modal-container{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    position: relative;
    animation : modalFadeIn ease 0.5s ;
}

.modal-close {
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 12px;
    cursor: pointer;
    opacity: 0.8;
}

.modal-close:hover {
    opacity: 1;
}
.modal-header{
    background-color: #009688;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
    letter-spacing: 4px;
}

.modal-heading-icon { 
    margin-right: 16px;
}

.modal-body{
    padding: 16px;
}

.modal-label{
    display: block;
    font-size: 15px;
    padding-bottom: 16px;
}

.modal-input {
    border: 1px solid #ccc;
    font-size: 15px;
    width: 100%;
    padding: 6px;
    margin-bottom: 24px;
}

#buy-tickets {
    width: 100%;
    background-color: #009688;
    border: none;
    padding: 13px;
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
}

#buy-tickets:hover {
    opacity: 0.9;
}

.modal-footer a {
    color: #2196F3;
}

.modal-footer {
    text-align: right;
    cursor: pointer;
    margin: 16px;
}

@keyframes modalFadeIn {
    from{
        transform: translateY(-200px);
        opacity: 0;
    }

    to{
        transform: translateY(0);
        opacity: 1;
    }
}
